footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 40px;
  font-size: 20px;
  color: #aeb8c4;
  z-index: 100;
  filter: drop-shadow(0 59px 55.5px rgba(154, 155, 176, 0.17));
}
